@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";




* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  
}

.ant-form-item {
  margin-bottom: 0px !important;
}

.ant-form-item-label {
  padding: 5px !important;
}

table{
  margin-top: 20px;
  border: 1px solid #858585;
}